body {
    text-align: center;
}

.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 25px;
    position: relative;
    height: 400px;
}
.image-to-show {
    width: 400px;
    height: 400px;
    position: absolute;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.image-to-show.active {
    opacity: 1;
}

.btn,
.btn__reset {
    background: #ab0000;
    margin-right: 20px;
    padding: 10px 25px;
    color: #fff;
    border-radius: 5px;
}

.btn__reset {
    background: #007200;
}
